div#menu {
    float: left;
    width: 100%;
    background: #f3f3f3;
    margin-bottom: 15px;
}

div#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#menu li {
    float: left;
    padding: 10px;
    border-right: 1px solid lightgrey;
    color: black;
}

div#menu a {
    text-decoration: none;
    color: #000;
}

div#menu a:hover {
    background-color: darkgrey;
}

div#menu li ul {
    display: none;
}

div#menu li:hover ul {
    display: block;
    position: absolute;
    z-index: 1;
    background: white;
    border: 1px solid black;
    width: 160px;
}

div#menu li li {
    border: none;
}

li a.active {
    background-color: lightgrey;
}

body {
    font-family: sans—serif;
    font-size: 90%;
    max-width: 75%;
    margin-left: 12.5%;
}


div#imgBiblio {
    float: right;
}

#citazione {
    float: left;
    width: 65%;
    text-align: justify;
}

blockquote > p{
    font-style: italic;
}

h1 {
    border-bottom: #000 1px dashed;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
}

table td {
    border-top: black 1px solid  ;
    padding: 1.5em;
    vertical-align: top;
}
table th{
    text-align: left;
    padding: 1em;
}